<launch>

   <param name="robot_description" textfile="$(find poppy_description)/urdf/poppy.urdf" />  

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
    
  </include>
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find poppy_description)/urdf/poppy.urdf -urdf -model poppy -z 0.03" />


  <include file="$(find poppy_control)/launch/poppy_control.launch"/>

  <!-- script pour faire faire quelque chose à poppy -->
  <!--<node name="poppy_action" pkg="poppy_gazebo" type="action.py" />-->



</launch>
